* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.startpage-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.hidden {
  display: none;
}

.header {
  background-color: #f18d29;
  width: 100%;
  height: 100px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header .header-links-buttons-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.header .header-links-buttons-wrap .navbar-header {
  padding-right: 48px;
}
.header .home-link {
  text-decoration: none;
  color: black;
}

.nav-ul-header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.nav-ul-header li, .nav-ul-header a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  margin-left: 12px;
  font-size: large;
}

.no-styling-btn {
  border: none;
  background-color: #f18d29;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}

.footer-container {
  margin-top: auto;
  width: 100%;
  height: 100px;
  background-color: #EEEEEE;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}
.footer-container .footer-message {
  margin-left: 12px;
  margin-top: 4px;
}

.main-books, .profile-page {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 100px;
}
.main-books h2, .profile-page h2 {
  margin-bottom: 4px;
  margin-top: 4px;
  margin-left: 12px;
}
.main-books .book-div, .profile-page .book-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 16px;
}
.main-books .book-div .book-text, .profile-page .book-div .book-text {
  margin-left: 12px;
}
.main-books .book-div .book-image, .profile-page .book-div .book-image {
  margin-left: auto;
}

#favorite {
  align-self: flex-start;
  margin-top: 6px;
}

.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.login-page .img-wrapper {
  height: 40vh;
  width: 100%;
}
.login-page .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.login-page .login-wrapper {
  height: 60vh;
  padding-left: 42px;
  padding-right: 48px;
  padding-top: 48px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.login-page .login-wrapper .welcome-message {
  margin-bottom: 56px;
}
.login-page .login-wrapper .welcome-message h1 {
  margin-bottom: 20px;
}
.login-page .login-wrapper .input-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 16px;
}
.login-page .login-wrapper .input-section input {
  height: 38px;
  width: 280px;
  border-radius: 32px;
  background-color: #EEEEEE;
  border: none;
  margin: 4px;
  padding-left: 12px;
  box-shadow: 1px 1px;
}
.login-page .register-user {
  height: 60vh;
  padding-left: 42px;
  padding-right: 48px;
  padding-top: 48px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.login-page .register-user h2 {
  margin-bottom: 24px;
}
.login-page .register-user input {
  height: 38px;
  width: 280px;
  border-radius: 32px;
  background-color: #EEEEEE;
  border: none;
  margin: 4px;
  padding-left: 12px;
  box-shadow: 1px 1px;
}

.close-window-btn {
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

#loginBtn, #registerBtn {
  width: 280px;
  border-radius: 32px;
  background-color: #f18d29;
  border: none;
  padding: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px;
}

.register-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.register-wrap #addUserBtn {
  background: none;
  border: none;
  padding: 0;
  margin-left: 4px;
  color: #f18d29;
}

#registerBtn {
  margin-top: 24px;
}/*# sourceMappingURL=style.css.map */